<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Owe Me!" lan="LAN_OWEME_NAME" version="1.0" date="2013-04-14" compatibility="2.0" installRequired="true" >
	<author name="Tijn Kuyper" url="http://www.tijnkuyper.nl" />
	<summary lan="LAN_OWEME_SUMM">Provides an overview of that what people owe you. Ability to manage categories, debtors and statuses.</summary>
	<description lan="LAN_OWEME_DESC">Provides an overview of that what people owe you. You can create entries and include date, category, amount, description, debtor and the status of the entry. Also, one is able to manage categories, debtors and statuses from the admin area.</description>
	<keywords>
		<word>money</word>
		<word>owe</word>
	</keywords>
	<category>misc</category>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" primary="true">LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}oweme/oweme.php" perm='everyone'>Owe Me!</link>		
	</siteLinks>
	<pluginPrefs>
		<pref name='default_currency'>6</pref>
		<pref name='date_format'>%d %B, %Y</pref>
		<pref name='epp'>15</pref>
	</pluginPrefs>
	<copyright>Copyright 2013-2014 Tijn Kuyper. Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
</e107Plugin>